{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<section class="profile-background">
    <div class="container">
        <h1 style="font-weight: 700; font-size: 40px; color: #4C56CC; text-align: center; margin-top: 71px; margin-bottom: 71px;">My Profile</h1> 
        {% if role == 'freelancer' %}
            <div class="profile">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="edit-company-apply edit-freelancer-apply">Apply</button>
                    <div style="display: flex; margin-bottom: 60px;">
                        <div class="profileimage">
                            {% if profile.photo %}
                                <img src="{{ profile.photo.url }}" alt="PIC"> 
                            {% endif %}
                            <div class="circle" id="circle-edit-btn"><i class="fa-solid fa-plus"></i></div>
                        </div> 
                        <div class="editprofile-1">
                            <label for="first_name">Full Name</label>
                            <div>
                                {{ form.first_name }}
                                {{ form.last_name }}
                            </div>
                            <label for="occupation">Your position</label>
                            <div>
                                {{ form.occupation }}
                            </div>
                            <label for="level">Level</label>
                            <div>
                                {{ form.level }}
                            </div>
                        </div>
                    </div>
                    <div class="editprofile-2">
                        <div class="editprofile-bio" style="margin-bottom: 60px;">
                            <h2>Bio</h2>
                            {{ form.bio }}
                        </div>
                        <div class="editprofile-skills" style="margin-bottom: 60px;">
                            <h2>Skills</h>
                            {{ form.skills }}
                        </div>
                        <div class="editprofile-education" style="margin-bottom: 60px;">
                            <h2>Education</h2>
                            <div class="editprofile-education-grid">
                                <label for="education_university">University</label>
                                <div>
                                   {{ form.education_university }} 
                                </div>
                                <label for="education_specialization">Specialization</label>
                                <div>
                                    {{ form.education_specialization }}
                                </div>
                                <label for="education_year_of_study">Year of study</label>
                                <div>
                                    {{ form.education_year_of_study }}
                                </div>
                            </div>
                        </div>
                        <div class="editprofile-experience" style="margin-bottom: 60px;">
                            <h2>Experience</h2>
                            <div class="editprofile-experience-grid">
                                <label for="experience_position">Position</label>
                                <div>
                                    {{ form.experience_position }}
                                </div>
                                <label for="experience_company_name">Company name</label>
                                <div>
                                    {{ form.experience_company_name }}
                                </div>
                                <label for="experience_work_duration">Work duration</label>
                                <div>
                                    {{ form.experience_work_duration }}
                                </div>
                                <label for="experience_description">Description</label>
                                <div>
                                    {{ form.experience_description }}
                                </div>
                            </div>
                        </div>
                        <div class="editprofile-portfolio" style="margin-bottom: 60px;">
                            <h2>Portfolio</h2>
                            {{ form.portfolio_link }}
                        </div>
                        <!-- <div class="editprofile-photo">
                            <h2>Profile Photo</h2>
                            {{ form.as_p }}
                        </div> -->
                    </div>                        
                    <div id="freelancer-photo-modal" class="edit-photo-modal">
                        <span class="close">&times;</span>
                        <h2 class="profileh2 margin0">Change Photo</h2>
                        <div class="edit-photo-modal-content">
                            <div>
                                <input type="file" name="photo" accept="image/*" id="id_photo" onchange="PreviewImage1();">    
                            </div>
                            <div>
                                <img src="{{ profile.photo.url }}" alt="logo" class="company-image-edit" id="freelancer-logo-edit">   
                            </div>
                        </div>                   
                    </div>   
                </form>
            </div>
        {% elif role == 'company' %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-c-1">
                    <div class="profile-c-2">
                        <div class="profile-c-2-1">
                            <img src="{{ profile.logo.url }}" alt="logo" class="company-image" id="company-logo">
                            <div class="profile-c-2-2">
                                <div class="edit-company-info">
                                    <span class="edit-company-name">{{ form.name }}</span>
                                    <span class="edit-company-field">{{ form.field }}</span>
                                </div>
                                
                                <button type="submit" class="edit-company-apply">Apply</button>
                            </div>
                        </div>
                        <hr>
                        <div class="profile-c-2-3">
                            <div>
                                <h2 class="profileh2">Bio</h2>
                                <span class="edit-company-bio">{{ form.description }}</span>
                            </div>
                            <div>
                                <h2 class="profileh2">Your Interest</h2>
                                <div style="display: flex;">
                                    <div class="profile-c-2-4">Figma</div>
                                    <div class="profile-c-2-4">Adobe Illustrator</div>
                                    <div class="profile-c-2-4">Team Work</div>
                                </div>
                            </div>
                            <div>
                                <h2 class="profileh2">Linked Accounts</h2>
                                <ul class="profile-c-2-5" style="list-style: none; padding: 0;">
                                    <li><a href=""><i class="fa-solid fa-plus"></i> Instagram</a></li>
                                    <li><a href=""><i class="fa-solid fa-plus"></i> LinkedIn</a></li>
                                    <li><a href=""><i class="fa-solid fa-plus"></i> Facebook</a></li>
                                    <li><a href=""><i class="fa-solid fa-plus"></i> Website</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="profile-c-3">
                        <div style="display: flex; align-items: center;">
                            <h2 style="margin: 0; color:#4C56CC; font-size: 32px; font-weight: 600;">My Jobs</h2>
                            <a href="{% url 'post_job' %}" class="addbtn" style="padding: 6px 21px; margin-left: 28px;"><i
                                    class="fa-solid fa-plus"></i> Add</a>
                        </div>
                        <div class="profile-c-3-1">
                            {% if jobs %}
                                {% for job in jobs %}       
                                <div class="profile-company-job-box">
                                    <h3 class="truncate job-box-title"><a href="{% url 'view_job' job.id %}">{{ job.title }}</a></h3>
                                    <p class="truncate job-box-freelancer">{{ job.category }}</p>
                                    <hr>
                                    <h5 class="job-box-info" >Timeline: <span class="job-box-timeline">{{ job.timeline }}</span></h5>
                                    <h5 class="job-box-info">Budget: <span class="job-box-budget">&#36;{{ job.salary }}</span></h5>        
                                    <div class="job-box-skills-container">
                                        <div class="job-box-skill">Python</div>
                                        <div class="job-box-skill">Adobe Illustrator</div>
                                    </div>
                                </div>          
                                {% endfor %}
                            {% else %}
                                <p>No jobs posted yet.</p>
                            {% endif %}
                        </div>
                        <div class="pagination">
                            <span class="step-links">
                                {% if jobs.has_previous %}
                                    <!-- <a href="?page=1">&laquo; first</a> -->
                                    <a href="?page={{ jobs.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
                                {% endif %}
                        
                                <span class="current-page">
                                     {{ jobs.number }}&#47;{{ jobs.paginator.num_pages }} 
                                </span>
                        
                                {% if jobs.has_next %}
                                    <a href="?page={{ jobs.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
                                    <!-- <a href="?page={{ jobs.paginator.num_pages }}">last &raquo;</a> -->
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div id="company-photo-modal" class="edit-photo-modal">
                    <span class="close">&times;</span>
                    <h2 class="profileh2 margin0">Change Photo</h2>
                    <div class="edit-photo-modal-content">
                        <div>
                            <input type="file" name="logo" accept="image/*" id="id_logo" onchange="PreviewImage();">    
                        </div>
                        <div>
                            <img src="{{ profile.logo.url }}" alt="logo" class="company-image-edit" id="company-logo-edit">   
                        </div>
                    </div>                   
                </div>
            </form>  
        {% endif %}
    </div>
</section>
<script src="{% static 'js/edit-company.js' %}"></script>
<script src="{% static 'js/edit-freelancer.js' %}"></script>
{% endblock %}