{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="layout-register">
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <!-- <label for="username">Username:</label> -->
        <input type="text" name="email" required placeholder="Email">
        <!-- <label for="password">Password:</label> -->
        <input type="password" name="password" required placeholder="Password">
        {% if form.errors.email %}
            <div class="alert alert-danger">{{ form.errors.email }}</div>
        {% endif %}
        {% if form.errors.password %}
            <div class="alert alert-danger">{{ form.errors.password }}</div>
        {% endif %}
        <div style="display: flex; justify-content: space-between;">
            <button type="submit" id="loginbtn">Sign In</button> 
            <a href="">Forgot your password?</a>
        </div>
        
    </form>
    <div>
        <div style="display: flex; justify-content: space-between;"">
            <img src="{% static 'images/linelgn.svg' %}" alt="">
            <p>or</p>
            <img src="{% static 'images/linelgn.svg' %}" alt="">
        </div>
        <div style="display: flex;">
            <button type="submit" id="googlebtn"><img src="{% static 'images/googlelogo.svg' %}" alt="" width="15px"> Continue with Google</button>
        </div>
        
    </div>
</div>
{% endblock %}