{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class="profile-background">
    <div class="container">
        <h1 style="font-weight: 700; font-size: 40px; color: #4C56CC; text-align: center; margin-top: 71px; margin-bottom: 71px;">My Profile</h1>
        {% if role == 'company' %}
        <div class="profile-c-1">
            <div class="profile-c-2">
                <div class="profile-c-2-1">
                    <img src="{{ profile.logo.url }}" alt="logo" class="profile-c-img">
                    <div class="profile-c-2-2">
                        {% if profile.name == '' %}
                            <span>
                                <h3 style="margin: 0; color:#4C56CC; font-size: 30px; font-weight: 600;">No Name</h3>
                                <h4 style="margin: 0; color:#737272; font-size: 22px; font-weight: 500;"></h4>
                            </span>
                        {% else %}
                            <span>
                                <h3 style="margin: 0; color:#4C56CC; font-size: 30px; font-weight: 600;">{{ profile.name }}</h3>
                                <h4 style="margin: 0; color:#737272; font-size: 22px; font-weight: 500;">{{ profile.field }}</h4>
                            </span>
                        {% endif %}
                        <a href="{% url 'edit_profile' role=role %}" class="editbtn" style="padding: 7px 40px;"><i
                                class="fa-solid fa-pen-to-square"></i> Edit</a>
                    </div>
                </div>
                <hr>
                <div class="profile-c-2-3">
                    <div>
                        <h2 class="profileh2">Bio</h2>
                        <p>{{ profile.description }}</p>
                    </div>
                    <div>
                        <h2 class="profileh2">Your Interest</h2>
                        <div style="display: flex;">
                            <div class="profile-c-2-4">Figma</div>
                            <div class="profile-c-2-4">Adobe Illustrator</div>
                            <div class="profile-c-2-4">Team Work</div>
                        </div>
                    </div>
                    <div>
                        <h2 class="profileh2">Linked Accounts</h2>
                        <ul class="profile-c-2-5" style="list-style: none; padding: 0;">
                            <li><a href=""><i class="fa-solid fa-plus"></i> Instagram</a></li>
                            <li><a href=""><i class="fa-solid fa-plus"></i> LinkedIn</a></li>
                            <li><a href=""><i class="fa-solid fa-plus"></i> Facebook</a></li>
                            <li><a href=""><i class="fa-solid fa-plus"></i> Website</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-c-3">
                <div style="display: flex; align-items: center;">
                    <h2 style="margin: 0; color:#4C56CC; font-size: 32px; font-weight: 600;">My Jobs</h2>
                    <a href="{% url 'post_job' %}" class="addbtn" style="padding: 6px 21px; margin-left: 28px;"><i
                            class="fa-solid fa-plus"></i> Add</a>
                </div>
                <div class="profile-c-3-1">
                    {% if jobs %}
                    {% for job in jobs %}
                    <div class="profile-c-job">
                        <img src="{% static 'images/job_image.png' %}" alt="job_image">
                        <div class="profile-c-job-1" style="padding: 0 20px; ">
                            <h3 class="truncate" style="margin: 0; font-size: 16px; font-weight: 600; color: #4C56CC;">
                                {{ job.title }}</h3>
                            <p class="multiline-ellipsis">{{ job.description }}</p>
                            <div class="profile-c-job-2">
                                <p style="color: #FFD700; font-weight: 600; margin-right: 18px;"><i
                                        class="fa-solid fa-star"></i> 4.9</p>
                                <p style="color: #4C56CC; font-weight: 600; margin-right: 55px;"> &#36;{{ job.salary }}
                                </p>
                                <div class="profile-c-job-3">Python</div>
                            </div>
                        </div>
                        <div>
                            <a href="{% url 'edit_job' job_id=job.id %}" class="editbtn"><i class="fa-solid fa-edit"></i> Edit</a>
                        </div>
                    </div>
                    
                    {% endfor %}
                    {% else %}
                    <p>No jobs posted yet.</p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% elif role == 'freelancer' %}
        <div class="profile">
            <div class="profilemain">
                {% if profile.photo %}
                <div class="profileimage">
                    {% if user.company %}
                    <img src="{{ user.company.logo.url }}" alt="PIC">
                    {% elif user.freelancer %}
                    <img src="{{ user.freelancer.photo.url }}" alt="PIC">
                    {% endif %}
                </div>
                {% endif %}
                <div class="profilemain1">
                    {% if profile.first_name == '' and profile.last_name == '' and profile.occupation == '' and profile.level == '' %}
                        <h2 class="margin0">No Name</h2>
                        <div>
                            <p>No position specified</p>
                            <p>No level specified</p>
                        </div>
                        <a href="{% url 'edit_profile' role=role %}">Edit</a>
                    {% else %}
                        <h2 class="margin0">{{ profile.first_name }} {{ profile.last_name }}</h2>
                        <div>
                            <p>{{ profile.occupation }}</p>
                            <p>{{ profile.level }}</p>
                        </div>
                        <a href="{% url 'edit_profile' role=role %}">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="profilebio">
                <h2 class="profileh2">Bio</h2>
                <p>{{ profile.bio }}</p>
            </div>
            <div class="profileskills">
                <h2 class="profileh2">Skills</h2>
                <div class="skillbox">
                    {% for skill in profile.skills.all %}
                        <div class="skill">
                            <p style="margin: 0;">{{ skill.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="profileeducation">
                <h2 class="profileh2">Education</h2>
                <div class="profile-education-grid">
                    <p class="profilep">{{ profile.education_year_of_study }}</p>
                    <div>
                        <h3 class="margin0 profileh3">{{ profile.education_university }}</h3>
                        <div class="experiencebox">
                            <p class="margin0">{{ profile.education_specialization }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profileexperience">
                <h2 class="profileh2">Experience</h2>
                <div class="profile-education-grid">
                    <p class="profilep">{{ profile.experience_work_duration }}</p>
                    <div>
                        <h3 class="margin0 profileh3">{{ profile.experience_company_name }}</h3>
                        <div class="experiencebox">
                            <h4 class="margin0">{{ profile.experience_position }}</h4>
                            <p class="margin0">{{ profile.experience_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profileportfolio">
                <h2 class="profileh2">Portfolio</h2>
                <div>
                    <img src="{% static 'images/portfolio1.png' %}" alt="">
                    <img src="{% static 'images/portfolio2.png' %}" alt="">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}