{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/register.css' %}">
</head>
<body>

<div class="container">
    <div class="column left-column">
        <div class="center-text">
            <h1>Welcome</h1>
            <p>Some text here</p>
          </div>
    </div>
    <div class="column right-column">
        <div class="layout-register">
            <h2>Registration</h2>
            <button class="google-button">Continue with Google</button>
            <div class="divider">
                <span>or</span>
            </div>
            <div class="layout-register">
                <form method="post">
                    {% csrf_token %}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <div class="radio-buttons">
                        {{ form.choice }}
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
