@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.layout-register {
    margin: auto;
    margin-top: 50px;
    width: 20%;
}

/* navigation bar style */
#nav {
    margin-top: 30px;
    /* margin-left: 77px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 62.65px;
    /* background-color: aqua; */
}

#navul {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 700px;
}

.navlinks {
    text-decoration: none;
    font-size: 21.03px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.navlinks:hover {
    text-decoration: underline;
    font-size: 21.03px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #4C56CC;
}

#navbuttons {
    display: block;
    justify-content: space-between;
}

#signupbtn {
    border: 5px solid #4C56CC;
    padding: 12px 42px;
    border-radius: 31.54px;
    margin-left: 20px;
}

#lbtn {
    border: 5px solid #4C56CC;
    padding: 12px 42px;
    border-radius: 31.54px;
    margin-left: 20px;   
}

#signupbtn:hover, #lbtn:hover {
    background-color: #4C56CC;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
}

/* registration page */
form {
    margin: 10px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0069d9;
}


