{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<main class="background-main-color">
    <a class="close" href="{% url 'home' %}">&times;</a>
    <div class="wrapper background-white reset-content display-f-c-c flex-direction-column">
        <h2>Password reset successful</h2>
        <p>Your password has been successfully reset. You can now <a class="text-decoration-no font-color-main-color link-hover" href="{% url 'login' %}">Log In</a> with your new password.</p>
    </div>
</main>
{% endblock %}
