{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<main class="background-main-color">
    <div class="wrapper background-white reset-content display-f-c-c flex-direction-column">
        <i class="fa-solid fa-lock font-size-70"></i>
        <h1>Reset your password</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group login-fields">
            <!-- <label for="{{ form.email.id_for_label }}">Email:</label> -->
            <!-- {{ form.email }} -->
            <p class="font-style-normal font-weight-500 font-size-12" style="margin-bottom: 0.7rem;">Enter a new password for your account</p>
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New Password">
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm Password">
                <!-- <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email address"> -->
            </div>
        <div class="display-sb-c">
            <button type="submit" class="btn btn-btn font-style-normal font-weight-500 font-size-18 font-color-white" style="padding: 0.2rem 1.8rem;">Reset</button>
            <p class="font-style-normal font-weight-500 font-size-18">Return to <a class="text-decoration-no font-color-main-color link-hover" href="{% url 'login' %}">Log In</a></p>
        </div>
        </form> 
    </div>
</main>
  <!-- <h2>Reset your password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form> -->
{% endblock %}
