{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<main class="background-main-color">
    <a class="close" href="{% url 'home' %}">&times;</a>
    <div class="wrapper background-white reset-content display-f-c-c flex-direction-column">
        <i class="fa-solid fa-lock font-size-70"></i>
        <h1>Forgot Password</h1>
        {% if form.errors %}
          <p>Your email and/or username was not found. Please try again.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group login-fields">
            <!-- <label for="{{ form.email.id_for_label }}">Email:</label> -->
            <!-- {{ form.email }} -->
                <p class="font-style-normal font-weight-500 font-size-16" style="margin-bottom: 0.7rem;">Enter your email address to reset your password</p>
                {{ form.email }}
                <!-- <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email address"> -->
            </div>
        <div class="display-sb-c">
            <button type="submit" class="btn btn-btn font-style-normal font-weight-400 font-size-18 font-color-white" style="padding: 0.2rem 1.8rem;">Reset</button>
            <p class="font-style-normal font-weight-500 font-size-18">Return to <a class="text-decoration-no font-color-main-color link-hover" href="{% url 'login' %}">Log In</a></p>
        </div>
        </form> 
    </div>
</main> 
{% endblock %}
