{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sign.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/job.css' %}">
    <link rel="stylesheet" href="{% static 'styles/rate.css' %}">
    <link rel="icon" href="{% static 'images/LOGO_PARTTIMERS.svg' %}">
    <link rel="stylesheet" href="{% static 'ckeditor/n1theme/editor.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% if messages %}
        <div class="alerts">
            <ul class="messages list-style-no">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %}
        
    {% endblock %} 
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.alerts').fadeOut('slow');
            }, 2000);
        });
    </script>
</body>
</html>
