{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" href="{% static 'home/main.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <header>
        <nav id="nav">
            <ul id="navul">
                <li><img src="{% static 'images/logo.png' %}" alt="Logo"></li>
                <li><a class="navlinks" href="{% url 'home' %}">Home</a></li>
                <li><a class="navlinks" href="#">Employer</a></li>
                <li><a class="navlinks" href="#">Candidate</a></li>
            </ul>
            <div id="navbuttons">
                {% if user.is_authenticated %}
                    <a class="navlinks" href="{% url 'profile' %}">Profile</a>
                    <a class="navlinks" id="lbtn" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="navlinks" href="{% url 'login' %}">Login</a>
                    <a class="navlinks" id="signupbtn" href="{% url 'register' %}">Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </header>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; {{ year }} PartTimers App. All rights reserved.</p>
    </footer>
    
    <!-- <script src="{% static 'js/scripts.js' %}"></script> -->
</body>
</html>
