{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="home-background">
    <div class="container">
    <div class="container1">
        <div id="home1">
            <div id="hometitle">
                <h1>Find the <span>job</span> of your Dreams</h1>
            </div>
            <div id="homesearch">
                <span class="aligncenter">
                    <img src="{% static 'images/icons/v1.svg' %}" alt="search">
                    <input type="text" placeholder="Job title or keyword" id="searchinput">
                    
                </span>
                
                <span id="geolocation" class="aligncenter">
                    <img src="{% static 'images/icons/v2.svg' %}" alt="geo">
                    <span>Almaty, Kazakhstan</span>
                </span>
                <input type="submit" value="Search" id="searchbtn">
            </div>
            <div>
                <div id="hometrending">
                    <h3>Trending Jobs keyword : </h3>
                    <ul>
                        <li><a href="">Web Designer</a></li>
                        <li><a href="">UI/UX Designer</a></li>
                        <li><a href="">Frontend</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="home2">
            <img src="{% static 'images/homepageimage.png' %}" alt="figure">
        </div>
    </div>
    <div class="container2">
        <h4 id="categh">Popular Job Categories</h4>
        <h1>Choose Categories</h1>
        <div class="categorycontainer">
            <div class="categorybox">
                <img src="{% static 'images/icons/marketing.svg' %}" alt="marketing">
                <div class="categoryinfo">
                    <h4>Marketing & Communication</h4>
                    <p>58 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/ui.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>UI/UX Design</h4>
                    <p>120 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/finance.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>Finance Management</h4>
                    <p>230 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/web.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>Web Development</h4>
                    <p>100 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/file.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>Project Management</h4>
                    <p>87 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/business.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>Business & Consulting</h4>
                    <p>23 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/graphic.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>Graphic Designer</h4>
                    <p>65 Jobs Available</p>
                </div>
            </div>
            <div class="categorybox">
                <img src="{% static 'images/icons/video.svg' %}" alt="">
                <div class="categoryinfo">
                    <h4>Video Editor</h4>
                    <p>120 Jobs Available</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container6">
        <h4>Featured Jobs</h4>
        <h2>You will find popular <span>featured</span> work</h2>
        <p id="con6p">Fully nobis id expedita dolores officiis layered dolor sit amet laboriosam.</p>
        <div id="vacancygenres">
            <ul>
                <li><a href="">All Recent</a></li>
                <li><a href="">Finance</a></li>
                <li><a href="">Development</a></li>
                <li><a href="">Marketing</a></li>
                <li><a href="">Specialist</a></li>
            </ul>
        </div>
        <div class="vacancycontainer">
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
            <div class="vacancybox">
                <h3>UI Designer</h3>
                <p>Almaty, Kazakhstan</p>
                <p><span><i class="fa-sharp fa-solid fa-money-bill-1-wave"></i></span> $450 - $500</p>
                <a href="" class="applybtn">Apply Now</a>
            </div>
        </div>
        <a href="" id="seeallbtn">See All Jobs <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="container3">
        <h1>Get know better</h1>
        <p>Lorem ipsum dolor sit amet. Sed dolore nemo aut ratione eligendi aut animi reprehenderit id omnis impedit. Ex quae quas aut modi impedit aut iste ullam eos possimus laborum. </p>
        <img src="{% static 'images/screenshot.png' %}" alt="">
        <a class="navlinks" id="signupbtn" href="{% url 'register' %}">Sign Up</a>
    </div>
    <div class="container4">
        <img src="{% static 'images/Image.png' %}" alt="" width="40%" style="margin-right: 75px;">
        <div id="createprofile">
            <h4>Create Profile</h4>
            <h2>Build Your Personal Account Profile</h2>
            <p>Create an account for the job information you want, get daily notifications and you can easily apply directly to the company you want and create an account now for free</p>
            <a id="createbtn" href="{% url 'register' %}">Create Account</a>
        </div>
    </div>
    <div class="container5">
        <div class="howitworks">
            <h4>How It Works</h4>
            <h2>Easy Step To Find and Apply Your Dream Job</h2>
            <p style="width: 70%;">We will help you to find your dream job easily, let us
                help you manage everything you need</p>
            <div class="howitworks1">
                <span>
                    <h5>Easy to uload Your Best CV and Portofolio</h5>
                    <p>You can upload your resume, CV, and portofolio directly to Jobbb</p>
                </span>
                <span>
                    <h5 style="margin-top: 36px;">Apply for your dream job from the best company</h5>
                    <p>We will provide recommendations for your choice companies from all over the world</p>
                </span>
            </div>
        </div>
        <img src="{% static 'images/image2.png' %}" alt="">
    </div>
    <div class="container7">
        <div class="container7-1">
            <h1>Want to create new cv?   
            <span>Get Updated your cv with us!</span></h1>
        </div>
        <div class="container7-2">
            <button class="createcvbtn">Create a new resume</button>
        </div>
    </div>
</div>
</section>

{% endblock %}