<footer>
    <div class="wrapper">
        <div class="footer display-flex justify-content-sb">
            <section class="footer-col-main">
                <h1>PartTimers</h1>
            </section>
            <section class="footer-col">
                <h3 class="font-style-normal font-weight-700 font-size-20 font-color-white">Employer</h3>
                <ul class="list-style-no">
                    <li><a href="" class="font-style-normal font-weight-400 font-size-16 font-color-white text-decoration-no">About Us</a></li>
                    <li><a href="" class="font-style-normal font-weight-400 font-size-16 font-color-white text-decoration-no">Careers</a></li>
                    <li><a href="" class="font-style-normal font-weight-400 font-size-16 font-color-white text-decoration-no">Blog</a></li>
                </ul>
            </section>
            <section class="footer-col">
                <h3 class="font-style-normal font-weight-700 font-size-20 font-color-white">Find Vacancy Based On</h3>
                <ul class="list-style-no">
                    <li><a href="" class="font-style-normal font-weight-400 font-size-16 font-color-white text-decoration-no">Help Center</a></li>
                    <li><a href="" class="font-style-normal font-weight-400 font-size-16 font-color-white text-decoration-no">Job Location</a></li>
                    <li><a href="" class="font-style-normal font-weight-400 font-size-16 font-color-white text-decoration-no">Company Name</a></li>
                </ul>
            </section>
            <section class="footer-col">   
                <h3 class="font-style-normal font-weight-700 font-size-20 font-color-white">Address</h3>
                <ul class="list-style-no">
                    <li><a href="mailto:" class="font-style-normal font-weight-500 font-size-16 font-color-white text-decoration-no">hello@jobbb.com</a></li>
                    <li><a href="" class="font-style-normal font-weight-500 font-size-16 font-color-white text-decoration-no">Kazakhstan, Almaty, Kaskelen city</a></li>
                </ul>
            </section>
        </div>
        <p class="font-style-normal font-weight-500 text-align-center" style="padding: 6rem 0 2rem 0;">&copy; {{ year }} 2023 PartTimers App. All rights reserved.</p>
    </div>
</footer>   