{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Job{% endblock %}
{% block content %}
<section class="profile-background">
    <div class="wrapper">
        {% include 'elements/navbar.html' %}
        <div class="post-job-container">
            <form method="post">
                {% csrf_token %}
                <div class="post-job-1">
                    <h2 style="margin: 0; font-weight: 600; font-size: 26px; color: #4C56CC;">Edit  project</h2>
                    <input type="submit" value="Apply" class="btn btn-btn font-style-normal font-weight-500 font-size-16 font-color-white" style="padding: 0.2rem 1rem;">
                    <input type="submit" name="delete" value="Delete" class="btn btn-btn font-style-normal font-weight-500 font-size-16 font-color-white" style="padding: 0.2rem 1rem;">
                </div>
                <div class="post-job-2">
                    <label for="title" class="header-25-colored">Title:</label>
                    <!-- <input type="text" placeholder="Title" name="title"> -->
                    {{ form.title }}
                    {% if form.title.errors %}
                        <div class="error-message">{{ form.title.errors }}</div>
                    {% endif %}
                </div>
                <div class="post-job-3">
                    <label for="description" class="header-25-colored">What are you looking to get done?</label>
                    <p style="margin: 0 0 20px 0; font-weight: 500; font-size: 16px; line-height: 140%; color: #737272;">This will help to get your brief to the right talent. Specifics help here.</p>
                    <!-- <textarea name="description" cols="60" rows="10"></textarea> -->
                    {{ form.media }}
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="error-message">{{ form.description.errors }}</div>
                    {% endif %}
                </div>
                <div style="margin-top: 1.25rem;">
                    <label class="input-file">
                        <!-- <input type="file" name="file"> -->
                        {{ form.file }}
                        <span class="input-file-btn">Attach File <i class="fa-solid fa-upload"></i></span>
                        <span class="input-file-text">Attach .pdf with size 5 mb max</span>
                    </label>
                    {% if form.file.errors %}
                        <div class="error-message">{{ form.file.errors }}</div>
                    {% endif %}
                </div>
                <div class="post-job-4">
                    <label for="category" class="header-25-colored">Which category suits to your project?</label>
                    {{ form.category }}
                </div>
                <div class="post-job-4"> 
                    <label for="category" class="header-25-colored">Which position suits to your project?</label> 
                    {{ form.position }} 
                </div>
            
                <div class="post-job-5">
                    <div style="margin-right: 1.5rem;">
                        <label for="salary" class="header-25-colored">Budget for project</label>
                        {{ form.salary }}
                        {% if form.salary.errors %}
                            <div class="error-message">{{ form.salary.errors }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <label for="timeline" class="header-25-colored">Timeline</label>
                        {{ form.timeline }}
                        {% if form.timeline.errors %}
                            <div class="error-message">{{ form.timeline.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'elements/footer.html' %}
</section>
<script src="{% static 'js/post-job.js' %}"></script>
{% endblock %}