{% extends 'base.html' %}
{% load static %}
{% block title %}Find Talant{% endblock %}
{% block content %}
    <div class="container">
        <div class="container7-copy">
            <div class="container7-1">
                <h1>Welcome!</h1>
                <h2 style="color: #FFFFFF;">Find talants with us!</h2> 
            </div>
            <div class="container7-2"></div>
        </div>
        <div class="freelancer-search-titles">
            <p>Search talant</p>
            <h2>Who are you looking for today?</h2>
        </div>
        <div class="job-search">
            <form method="GET" action="{% url 'find_freelancer' %}"> 
                <div class="job-search-1">
                    <div class="job-search-1-2">
                        <label for="seacrh" style="color:#4C56CC;"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input type="text" name="search" placeholder="Job title or keyword" class="job-search-input" value="{{ search_query }}">
                    </div>
                    <div class="job-search-1-1">
                        <i class="fa-solid fa-location-dot" style="color:#4C56CC; margin-right: 22px;"></i>
                        <p>Location</p>
                    </div>
                    <button type="submit" class="job-search-button" >Search</button> 
                </div>  
            </form>
        </div>
        <div class="freelancer-box-container">
            {% if freelancers %}
                {% for freelancer in freelancers %}
                    <div class="freelancer-box">
                        <div class="fbox-1">
                            <img src="{{ freelancer.photo.url }}" alt="{{ freelancer.first_name }}'s profile picture">
                        </div>
                        <div class="freelancer-box-name fbox-2">
                            <h3>{{ freelancer.first_name }} {{ freelancer.last_name }}</h3>
                        </div>
                        <div class="fbox-3">
                            <p>{{ freelancer.occupation }}</p>
                        </div>
                        <div class="fbox-4">
                            {% if freelancer.get_rating == None %}
                                <p class="fbox-4-no-rate">Not rated yet</p>
                            {% else %}
                                <p class="fbox-4-rate"><i class="fa-solid fa-star"></i> {{ freelancer.get_rating }}</p>
                            {% endif %}
                        </div>
                        <div class="fbox-5">
                            {% for skill in freelancer.skills.all|slice:":4" %}
                                <div class="freelancer-box-skill">{{ skill.name }}</div>
                                {% empty %}
                                <div>There are no skills</div> 
                            {% endfor %}
                        </div>
                        <div class="fbox-6">
                            <a href="{% url 'view_freelancer' freelancer_id=freelancer.id %}">See more</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no freelancers in our platform yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
