{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="backgrdound">
    <div class="wrapper">
        {% include 'elements/navbar.html' %}
        <main>
            <section class="company-head display-flex">
                <img src="{{ freelancer.photo.url }}" alt="PIC" class="profile-c-img object-fit-cover">
                <div>
                    <h2 class="freelancer-name-h2 font-style-normal font-weight-600 font-size-32 font-color-main-color">{{ freelancer.first_name }} {{ freelancer.last_name }}</h2>
                    <div class="display-flex font-weight-400 font-size-18 font-color-737272" style="column-gap: 1.5rem;">
                        <p class=""><i class="fa-solid fa-location-dot"></i> Kazakhstan</p>
                        <p>|</p>
                        {% if freelancer.occupation == '' %}
                            <p>Occupation is not specified</p>
                        {% else %}
                            <p>{{ freelancer.occupation }}</p>
                        {% endif %}
                    </div>
            </section>
            <section class="company-main display-flex">
                <section class="company-main-left">
                    <section class="display-flex align-items-center">
                        <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color" style="margin-right: 20px;">Rating</h2>
                        <i class="fa-solid fa-star font-color-ffd700 font-size-23"></i>
                        {% if freelancer.get_rating == None %}
                            <h2 class="font-color-ffd700 font-size-23" style="margin-left: 10px;" id="rating-value">Not rated yet</h2>
                        {% else %}
                            <h2 class="font-color-ffd700 font-size-23" style="margin-left: 10px;" id="rating-value">{{ freelancer.get_rating }}</h2>
                        {% endif %}
                    </section>
                    <section class="rating-box-grid">
                        <div class="rating-stars display-flex align-items-center">
                            <i class="fa-solid fa-star star font-size-30 font-color-ffd700"></i>
                            <i class="fa-solid fa-star star font-size-30 font-color-ffd700"></i>
                            <i class="fa-solid fa-star star font-size-30 font-color-ffd700"></i>
                            <i class="fa-solid fa-star star font-size-30 font-color-ffd700"></i>
                            <i class="fa-solid fa-star star font-size-30 font-color-ffd700"></i>
                            <p class="font-style-normal font-weight-500 font-size-16 line-height-120 font-color-737272">({{ freelancer.get_num_ratings }})</p>
                        </div>
                    </section>
                    <section class="portfolio-box">
                        <div style="display: flex; align-items: center; margin-bottom: 1.5rem;">
                            <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Portfolio</h2>
                        </div>
                        <div class="portfolio-box-grid">
                            {% if projects %}
                                {% for project in projects %}
                                    <div class="portfolio-item">
                                        <h3 class="truncate">{{ project.title }}</h3>
                                        <p class="">{{ project.description }}</p>
                                        <div style="margin-top: 1.188rem;">
                                            <p class="portfolio-link">Click the link</p>
                                            <div class="portfolio-box-skills-container">
                                                <div class="job-box-skill"><a href="{{ profile.portfolio }}">Figma</a></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No projects yet</p>
                            {% endif %}
                        </div>
                        {% if projects %}
                            <div class="pagination">
                                <span class="step-links">
                                    {% if projects.has_previous %}
                                        <a href="?page={{ projects.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
                                    {% endif %}
                                    <span class="current-page">
                                        {{ projects.number }}&#47;{{ projects.paginator.num_pages }} 
                                    </span>       
                                    {% if projects.has_next %}
                                        <a href="?page={{ projects.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    </section>
                    {% if user.company %}
                    <section class="chat-box">
                        <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Chat</h2>
                        <p class="font-style-normal font-weight-600 font-size-16 font-color-737272 line-height-140" style="margin: 0.5rem 0;">Discuss project details with freelancer via chat</p>
                        <a target="_blank" href="/chat/start-chat/{{ freelancer.id }}/" class="btn text-decoration-no font-style-normal font-weight-500 font-size-20 font-color-white" style="padding: 0.2rem 2.5rem;">Start Chat</a>
                    </section>
                    {% endif %}
                </section>
                <div class="vertical"></div>
                <section>
                    <section class="profile-bio">
                        <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Bio</h2>
                        {% if freelancer.bio %}
                            <p class="font-style-normal font-weight-300 font-size-18 line-height-140">{{ freelancer.bio|safe }}</p>
                        {% else %}
                            <p class="font-style-normal font-weight-300 font-size-18 line-height-140">No bio yet</p>
                        {% endif %}
                    </section>
                    <section class="skills-section">
                        <div style="display: flex; align-items: center; margin-bottom: 1.5rem;">
                            <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Skills and Expertise</h2>
                        </div>
                        <div id="profile-skill-box-id" class="profile-skill-box display-flex flex-wrap align-items-flex-start">
                            {% for skill in freelancer.skills.all %}
                                <div class="profile-skill">
                                    <p class="font-style-normal font-weight-500 font-size-16">{{ skill.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    <section style="margin-bottom: 1.8rem;">
                        <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Education</h2>
                        <div class="experiences-grid display-flex flex-direction-column" id="profile-education-grid-id">
                            {% for education in educations %} 
                            <div class="profile-education-grid">
                                <p class="font-style-normal font-weight-500 font-size-20 line-height-140">{{ education.year_of_study }}</p>
                                <div>
                                    <h3 class="font-style-normal font-weight-500 font-size-20 line-height-140">{{ education.university }}</h3>
                                    <div class="experiencebox" style="margin-top: 0.8rem;">
                                        <p class="font-style-normal font-weight-400 font-size-16 line-height-140">{{ education.specialization }}</p>
                                    </div>
                                </div>
                            </div>
                            {% empty %} 
                                <p>No education added yet.</p> 
                            {% endfor %}
                        </div>
                    </section>
                    <section>
                        <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Experiences</h2>
                        <div class="experiences-grid display-flex flex-direction-column" id="profile-experience-grid-id">
                            {% for experience in experiences %} 
                            <div class="profile-education-grid">
                                <p class="font-style-normal font-weight-500 font-size-20 line-height-140">{{ experience.work_duration }}</p>
                                <div>
                                    <h3 class="font-style-normal font-weight-500 font-size-20 line-height-140" style="margin-bottom: 0.8rem;">{{ experience.company_name }}</h3>
                                    <div class="experiencebox">
                                        <h4 class="font-style-normal font-weight-500 font-size-20 line-height-140">{{ experience.position }}</h4>
                                        <p class="font-style-normal font-weight-400 font-size-16 line-height-140">{{ experience.description }}</p>
                                    </div>
                                </div>
                            </div>

                            {% empty %} 
                                <p>No experience added yet.</p> 
                            {% endfor %}
                        </div>
                    </section>
                    <!-- <section>
                        <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Experience</h2>
                        <div class="profile-education-grid">
                            <p class="profilep">{{ profile.experience_work_duration }}</p>
                            <div>
                                <h3 class="margin0 profileh3">{{ profile.experience_company_name }}</h3>
                                <div class="experiencebox">
                                    <h4 class="margin0">{{ profile.experience_position }}</h4>
                                    <p class="margin0">{{ profile.experience_description }}</p>
                                </div>
                            </div>
                        </div>
                    </section> -->
                    
                </section>
            </section>
            <section class="reviews-section">
                <h2 class="font-style-normal font-weight-600 font-size-25 font-color-main-color line-height-140">Reviews</h2>
                {% if reviews %}
                    {% for rating in reviews %}
                    <div class="review">
                        <div class="review-info display-sb-c">
                            <div>
                                <h4 class="font-weight-500 font-size-16">{{ rating.reviewer }}</h4>
                                <p class="font-weight-400 font-size-15 font-color-737272">{{ rating.created_at|date:"d.m.Y" }}</p>
                            </div>
                            <div>
                                <p class="display-none" id="rating_user_value">{{ rating.rating }}</p>
                                <i class="fa-solid fa-star starr font-size-22 font-color-ffd700"></i>
                                <i class="fa-solid fa-star starr font-size-22 font-color-ffd700"></i>
                                <i class="fa-solid fa-star starr font-size-22 font-color-ffd700"></i>
                                <i class="fa-solid fa-star starr font-size-22 font-color-ffd700"></i>
                                <i class="fa-solid fa-star starr font-size-22 font-color-ffd700"></i>
                            </div>
                        </div>
                        <div class="review-comment">
                            <p>
                                <span class="font-weight-500 font-size-16">Comment: </span>
                                {{ rating.comment }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No reviews yet</p>
                {% endif%}
                {% if reviews %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if reviews.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
                            {% endif %}
                            <span class="current-page">
                                {{ reviews.number }}&#47;{{ reviews.paginator.num_pages }} 
                            </span>       
                            {% if reviews.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
                            {% endif %}
                        </span>
                </div>
                {% endif %}
            </section>
        </main>
        <script src="{% static 'js/rating.js' %}"></script>
    </div>
    {% include 'elements/footer.html' %}
</div>
{% endblock %}
